.carousel-container {
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #0A2463;
}

.BrainhubCarousel__container {
    width: 80%;
    margin: 4rem auto;
}

.BrainhubCarousel__arrows{
    background-color: #0A2463;
}

.BrainhubCarousel__arrows:hover{
    background-color: #FC5E03 !important;
}


.carousel-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1737px){
    .BrainhubCarousel__container {
        width: 90%;
        margin: 4rem auto;
    }
}

@media screen and (max-width: 1555px){
    .BrainhubCarousel__container {
        width: 100%;
        margin: 4rem auto;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 1471px){
    .BrainhubCarouselItem{
        margin: 2rem !important;
    }
}

@media screen and (max-width: 1320px){

    .BrainhubCarouselItem img{
        width: 500px !important;
        height: 250px !important;
    }
}

@media screen and (max-width: 862px){

    .BrainhubCarouselItem img{
        width: 400px !important;
        height: 200px !important;
    }
}

@media screen and (max-width: 800px){
    .BrainhubCarouselItem{
        margin: 3.5rem !important;
    }

    .BrainhubCarouselItem img{
        width: 350px !important;
        height: 200px !important;
    }
}

@media screen and (max-width: 600px){
    .BrainhubCarouselItem{
        margin: 4rem !important;
    }

    .BrainhubCarouselItem img{
        width: 300px !important;
        height: 200px !important;
    }

    .carousel-container{
        min-height: 30vh;
    }
}

@media screen and (max-width: 600px){
    .BrainhubCarouselItem{
        margin: 2.5rem !important;
    }

    .BrainhubCarouselItem img{
        width: 300px !important;
        height: 150px !important;
    }
}