.service-section{
    min-height: 50vh;
    padding: 3rem 0;
}

.service-section .link{
    display: grid;
    place-content:center;
}

.service-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service-cards > div{
    margin: 3rem 2rem;
}

/*@media screen  and (max-width: 1188px){*/
/*    .service-cards{*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        text-align: left;*/
/*    }*/
/*}*/

/*@media screen  and (max-width: 800px){*/
/*    .service-cards{*/
/*        grid-template-columns: repeat(1, 1fr);*/
/*    }*/
/*}*/


