.service-section{
    min-height: 50vh;
    padding: 3rem 0;
    color: #0A2463;
}

.service-section .link{
    display: grid;
    place-content:center;
}


.service-section p{
    color: #1A1A1A;
}

.service-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.service-cards > div{
    margin: 3rem 2rem;
}




