header{
    display: grid;
    place-items: center;
}

header h2{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}
header p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
}