.process-card{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.radio-btn{
    margin-right: 2rem;
    margin-top: 0.3rem;
}

.radio-btn .connect{
    margin: 0 1rem;
}

.connect div{
    width: 1px;
    height: 5px;
    background-color: #FC5E03;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.process-card h3{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5;
}

.process-card p{
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}