.pthomes_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7f3fd;
  //min-height: 30vh;

  .pthomes_text_section{
    width: 30%;
    margin: 0 auto;

    h1{
      font-size: 3rem;
      font-weight: 700;
      color: #0A2463;
    }

    p{
      line-height: 1.7;
      color: #0A2463;
      margin: 1.5rem 0 2rem;
    }

  }

  .pthomes_image_section{

  }
}
