
.faq-search{
      padding: 5rem 2rem;
      background:#f7fcff;
      text-align: center;
}

.faq-search h1 {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 52px;
      padding-bottom: 1rem;
      color: #0A2463;
}

.faq-search div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 4rem;
}

.faq-search p {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 1.3rem;
      line-height: 32px;
      color: #1A1A1A;
      padding-bottom: 2rem;
}

.faq-search .icon {
      margin-right: -2rem;
}

.faq-search input {
      width: 55%;
      padding: 1rem 1rem 1rem 2rem;
      background: transparent;
      font-size: 1rem;
      border-radius: .25rem;
      font-family: Roboto, sans-serif;
}

.faq-search input::placeholder{
      padding-left: 1rem;
}

.faq-search input:focus {
      outline: #e9e9e9;
}

.faq-main {
      padding: 2rem 0 4rem 0;
      background: #fff;
      width: 50%;
      margin: 0 auto;
      text-align: center;
}

.faqs{
      width: 100%;
      max-width: 50%;
      margin: 0 auto;
      padding: 1.5rem;
}




