:root{
    --primary: #0A2463;
    --secondary: #FC5E03;
}

/*.btn{*/
/*    padding: 8px 20px;*/
/*    border-radius: 4px;*/
/*    outline: none;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.btn:hover{*/
/*    transition: all 0.3s ease-in-out;*/
/*    color: var(--primary);*/
/*}*/

/*.btn--primary{*/
/*    background-color: var(--primary);*/
/*}*/

/*.btn-outline{*/
/*    background-color: transparent;*/
/*    color: white;*/
/*    padding: 8px 20px;*/
/*    border-radius: 4px;*/
/*    border: 1px solid var(--primary);*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/

.path-link{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

.trans{
    color: #FC5E03;
}

 .path-link img, .cover img{
    margin-left: 1rem;
    display: inline-block;
}

.link{
    display: grid;
    place-content: start;
}

.cover{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC5E03;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    width: 250px;
}

