:root{
    --primary: #0A2463;
    --secondary: #FC5E03;
}

.path-link{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

.trans{
    color: #FC5E03;
}

 .path-link img, .cover img{
    margin-left: 1rem;
    display: inline-block;
}

.link{
    display: grid;
    place-content: start;
}

.cover{
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC5E03;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    width: 250px;
}

