.container{
    background-color: #e3e3e4;
}
.text-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    min-height: 60vh;
    padding: 0 2rem;
}

.text-center h1{
    margin-bottom: 1rem;
    color: #0A2463;
    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    width: 300px;
}

.text-center h1 span{
    color: #FC5E03;
}

.text-center p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #1A1A1A;
    width: 700px;
}

.text-center .link{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC5E03;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}


.text-center .link img{
    margin-left: 1rem;
}

@media screen and (max-width: 800px) {

    .text-center{
        padding: 0 2rem;
    }

    .text-center h1{
        width: auto;
        font-size: 2rem;
    }

    .text-center p{
        width: auto;
    }

}