.service-grid {
    padding: 6rem 8rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.land, .estate, .property {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 4rem;
}

.service-grid .img, .text {
    padding: 1rem;
    width: 600px;
    height: 400px;
}

.img img {
    width: 90%;
}

.text h2 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 32px;
    color: #0A2463;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.text img {
    margin-left: -2rem;
    margin-bottom: -2rem;
    padding-top: 1rem;
}

.text p {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 2;
}

@media screen and (max-width: 1300px){
    .service-grid .img, .text {
        width: 500px;
    }

    .text h2 {
        font-size: 1.5rem;
    }

    .text p {
        font-size: 0.9rem;
        line-height: 2;
    }
}

@media screen and (max-width: 1050px){
    .land, .property {
        margin: 2rem 0;
        flex-direction: column;
    }

    .estate{
        flex-direction: column-reverse;
        margin: 2rem 0;
    }

    .service-grid .img, .text {
        width: 500px;
    }

    .text h2 {
        font-size: 1.75rem;
    }

    .text img {
        width: 30%;
    }

    .text p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 550px){
    .land, .estate, .property{
        margin-bottom:  2rem;
    }

    .service-grid .img {
      width: auto;
        padding: 0;
    }

    .content-header{
        display: flex;
        align-items: center;
    }

    .text{
        padding: 0  2rem ;
    }

    .text h2 {
        font-size: 1.5rem;
    }

    .text img {
        width: 20%;
        padding-top: 0;
    }

    .service-grid .img img{
        width: 100%;
    }

    .text p {
        font-size: 1rem;
    }

}

