.about-section{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper{
    position: relative;
    margin-right: 10rem;
}

.image-wrapper-down{
    position:relative;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.image-wrapper-top{
    position:absolute;
    top: 330px;
    left: -100px;
    z-index: 2;
}

.about-subsection{
    width: 30%;
}

.about-subsection h2{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0A2463;
}

.about-subsection span{
    color: #FC5E03;
}

.about-subsection p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-top: 1rem;
    color: #1A1A1A;
}

.about-subsection a{
    margin: 2rem auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    color: #FC5E03;
    border-radius: 20px;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

.about-subsection a img{
    margin-left: 1rem;
    display: inline-block;
}

.about-subsection .link{
    display: grid;
    place-content: start;
}

@media screen and (max-width: 1220px) {
    .about-subsection{
        width: 50%;
    }
}


@media screen and (max-width: 920px) {
    .about-section{
        padding: 0 1rem ;
    }
    .image-wrapper{
        position: static;
    }

    .image-wrapper-down{
        position: static;
    }
    .image-wrapper-top{
        display: none;
    }

}


@media screen and (max-width: 890px) {
    .about-section{
        min-height: 30vh;
        padding: 2rem 0;
    }

    .image-wrapper{
        display: none;
    }

    .about-subsection{
        width: 90%;
        text-align: center;
    }

    .about-subsection .link{
        display: grid;
        place-content: center;
    }

    .about-subsection p{
        margin-top: 0;
    }

}



