.about-section{
    min-height: 50vh;
    margin: 7rem 0;
    display: flex;
    align-items: end;
    justify-content: center;
}

.about-subsection{
    width: 30%;
}

.about-subsection h2{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0A2463;
}

.about-subsection span{
    color: #FC5E03;
}

.about-subsection p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    margin-top: 1rem;
    color: #1A1A1A;
}


@media screen and (max-width: 1220px) {
    .about-subsection{
        width: 50%;
    }
}


@media screen and (max-width: 920px) {
    .about-section{
        padding: 0 1rem ;
    }

}


@media screen and (max-width: 890px) {
    .about-section{
        min-height: 30vh;
        padding: 2rem 0;
    }
    .about-subsection{
        width: 90%;
        text-align: center;
    }

    .about-subsection .link{
        display: grid;
        place-content: center;
    }

    .about-subsection p{
        margin-top: 0;
    }

}



