.home-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0;
}

.home-section header{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: start;
}

header h1{
    margin-bottom: 1rem;
    color: #0A2463;
    font-size: 2.5rem;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;

}

header h1 span{
    color: #FC5E03;
}

header p{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #1A1A1A;
}

header .link{
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC5E03;
    padding: 0.6rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}


header .link img{
    margin-left: 1rem;
}

@media screen  and (max-width: 1600px){
    .home-section{
        justify-content: center;
        padding: 4rem 0;
    }

        header {
            width: 80%;
            text-align: center;
        }

        .image-content{
            display: none;
        }
}

