.process-section{
    background-color: #0A2463;
    color: white;
    min-height: 80vh;
    padding: 6rem 2rem;
}

.process-section p{
    color: #E5E5E5;
}

.process-subsection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.linkage{
    width: 30%;
}

@media screen and (max-width: 1220px) {
    .linkage{
        width: 50%;
    }
}




@media screen and (max-width: 890px) {

    .linkage{
        width: 90%;
    }


}