body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.text-primary{
  color: #0A2463;
}
.text-secondary{
  color:#FC5E03;
}