.NavbarItems{
    background: #f7fcff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.fa-bars{
    color: white;
    font-size: 1.8rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    text-align: center;
    width: 90vw;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
}

.nav-links{
    color: #FC5E03;
    padding: 0.5rem 1rem;
    font-family: Roboto, sans-serif;
    transition: all 0.2s ease-in-out;
}

.nav-links:hover{
    color: #0A2463;
}

.nav-active{
    color: #0A2463;
}

.nav-links-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FC5E03;
    color: white;
    font-family: Roboto, sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile:hover{
    background: #0A2463;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile img{
    margin-left: 1rem;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 960px){

    .NavbarItems{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background-color: #FC5E03;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
       text-align: center;
        padding: 3rem 2rem;
        width: 100vw;
        display: table;
        color: white;
    }

    .nav-links:hover{
        color: white;
        background-color: rgba(218, 179, 155, 0.5);
    }

    .nav-links-mobile{
        background-color: #0A2463;
    }

    .nav-links-mobile:hover{
        background-color: rgba(252, 92, 4, 0.8);
    }


    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 3%;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-header{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
